{% extends "layout.html" %}
{% block body %}
	{% if session['logged_in'] %}
		<p class="message-sistema">Usted ya ha iniciado sesión!</p>
	{% else %}
		<div class="login-screen-body">
			<h1>BIENVENIDO AL SISTEMA DE VOTO ELECTRÓNICO</h1>
			<form action="/login" method="POST">
				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1>IDENTIFICACION DE CIUDADANO</h1>
						</div>

						<div class="login-form">
							<div class="control-group">
							<input type="text" class="login-field" value="" placeholder="Nombre" name="usuario.nombre">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>

							<div class="control-group">
							<input type="text" class="login-field" value="" placeholder="DNI" name="usuario.dni">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

			                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
						    <br>
						</div>
					</div>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}
